{% extends "base.html" %}

{% load static %}

{% block title %}Лента{% endblock %}

{% block content %}
  <div class="row">
    {% for video in videos %}
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{% get_media_prefix %}{{ video.image }}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{% url 'video' video.video_hash %}">{{ video.title }}</a>
            </h4>
            {% for theme in video.theme.all %}
              <span class="badge {% if theme.is_main %}badge-primary{% else %}badge-secondary{% endif %}">{{ theme.name }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}